.font-size-lg {
  font-size: 1.375rem;
}

.font-size-sm {
  font-size: 0.9625rem;
}

.bg-edge2edge {
  position: relative;
  right: 50%;
  left: 50%;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 100vw;
  -ms-flex: 0 0 100vw;
  flex: 0 0 100vw;
  width: 100vw;
  max-width: none;
  margin-right: -50vw !important;
  margin-left: -50vw !important;
}

.bg-edge2edge:before {
  display: table;
  content: " ";
}

.bg-edge2edge:after {
  clear: both;
}

body {
  overflow-x: hidden;
}

.cover-image,
.field-name-field-header-background-image {
  position: relative;
  width: 100%;
  height: 100%;
}

.cover-image article,
.cover-image .cover-image-inner,
.field-name-field-header-background-image article,
.field-name-field-header-background-image .cover-image-inner {
  width: 100%;
  height: 100%;
}

.cover-image img,
.field-name-field-header-background-image img {
  width: 100%;
  height: 100%;
  margin-bottom: 0;
  -o-object-fit: cover;
  object-fit: cover;
  font-family: "object-fit: cover";
}

.cover-image .content,
.field-name-field-header-background-image .content {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 2rem;
}

.cover-image .content.bottom,
.field-name-field-header-background-image .content.bottom {
  bottom: 0;
}

.cover-image .content.top,
.field-name-field-header-background-image .content.top {
  top: 0;
  bottom: auto;
}

.cover-image .content.bg-yellow,
.field-name-field-header-background-image .content.bg-yellow {
  background-color: rgba(251, 234, 101, 0.79);
}

.cover-image .content.bg-orange,
.field-name-field-header-background-image .content.bg-orange {
  background-color: rgba(236, 138, 34, 0.79);
}

.v-centered-container {
  position: relative;
  min-height: 300px;
  -webkit-background-size: cover;
  background-size: cover;
}

.v-centered-container.percent-80 {
  height: 80vh;
  max-height: 500px;
}

@media (min-width: 992px) {
  .v-centered-container.percent-80 {
    max-height: none;
  }
}

.v-centered {
  position: absolute;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  -webkit-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.box-600 {
  max-width: 600px;
  margin-right: auto;
  margin-left: auto;
  padding: 1.5rem 1.5rem 0.5rem 1.5rem;
}

.columns-height-auto .large-6,
.columns-height-auto .large-8,
.columns-height-auto .large-4 {
  height: auto !important;
}

.light-text {
  color: white;
}

.light-text h1,
.light-text h2,
.light-text h3,
.light-text h4,
.light-text h5,
.light-text h6 {
  color: white;
}

.background-blue,
.bg-blue {
  width: 100%;
  color: white;
  background-color: #0038a5;
}

.background-blue.bg-gradient,
.bg-blue.bg-gradient {
  background: #1e3060;
  background: -webkit-gradient(linear, left top, right top, from(#1e3060), to(#2d77bc));
  background: -webkit-linear-gradient(left, #1e3060 0%, #2d77bc 100%);
  background: -o-linear-gradient(left, #1e3060 0%, #2d77bc 100%);
  background: linear-gradient(90deg, #1e3060 0%, #2d77bc 100%);
}

.background-blue.bg-gradient-radial,
.bg-blue.bg-gradient-radial {
  background: #6ba6d8;
  background: -webkit-radial-gradient(circle, #6ba6d8 0%, #2c76bc 44%);
  background: -o-radial-gradient(circle, #6ba6d8 0%, #2c76bc 44%);
  background: radial-gradient(circle, #6ba6d8 0%, #2c76bc 44%);
}

.background-blue.bg-faded,
.bg-blue.bg-faded {
  background-color: rgba(0, 56, 165, 0.7);
}

.background-blue h1,
.background-blue .h1,
.background-blue h2,
.background-blue .h2,
.background-blue h3,
.background-blue .h3,
.background-blue h4,
.background-blue .h4,
.background-blue h5,
.background-blue .h5,
.background-blue h6,
.background-blue .h6,
.bg-blue h1,
.bg-blue .h1,
.bg-blue h2,
.bg-blue .h2,
.bg-blue h3,
.bg-blue .h3,
.bg-blue h4,
.bg-blue .h4,
.bg-blue h5,
.bg-blue .h5,
.bg-blue h6,
.bg-blue .h6 {
  color: white !important;
}

.background-blue a:focus,
.background-blue a:hover,
.bg-blue a:focus,
.bg-blue a:hover {
  color: #fbea65;
}

.background-blue .separator-center::after,
.bg-blue .separator-center::after {
  border-bottom-color: white;
}

.background-blue table tbody,
.bg-blue table tbody {
  border: none;
  background-color: transparent;
}

.background-blue table tbody tr:nth-child(even),
.bg-blue table tbody tr:nth-child(even) {
  background-color: #0044c8;
}

.background-blue.shield-right,
.bg-blue.shield-right {
  background-image: url("/themes/custom/limestone/images/lu-shield-inverted-transparent.png");
  background-repeat: no-repeat;
  background-position-x: 90%;
  background-position-y: 20%;
  -webkit-background-size: 420px 420px;
  background-size: 420px;
}

.background-darkblue,
.bg-darkblue {
  width: 100%;
  color: white;
  background-color: #0c173d;
}

.background-darkblue a,
.bg-darkblue a {
  color: white;
}

.background-darkblue a:focus,
.background-darkblue a:hover,
.bg-darkblue a:focus,
.bg-darkblue a:hover {
  color: #759f29;
}

.background-darkblue.bg-faded,
.bg-darkblue.bg-faded {
  background-color: rgba(12, 23, 61, 0.7);
}

.background-darkblue h1,
.background-darkblue .h1,
.background-darkblue h2,
.background-darkblue .h2,
.background-darkblue h3,
.background-darkblue .h3,
.background-darkblue h4,
.background-darkblue .h4,
.background-darkblue h5,
.background-darkblue .h5,
.background-darkblue h6,
.background-darkblue .h6,
.bg-darkblue h1,
.bg-darkblue .h1,
.bg-darkblue h2,
.bg-darkblue .h2,
.bg-darkblue h3,
.bg-darkblue .h3,
.bg-darkblue h4,
.bg-darkblue .h4,
.bg-darkblue h5,
.bg-darkblue .h5,
.bg-darkblue h6,
.bg-darkblue .h6 {
  color: white;
}

.background-darkblue .separator-center::after,
.bg-darkblue .separator-center::after {
  border-bottom-color: white;
}

.background-green,
.bg-green {
  width: 100%;
  background-color: #759f29;
}

.background-green.bg-faded,
.bg-green.bg-faded {
  background-color: rgba(117, 159, 41, 0.3);
}

.bg-mid-gray,
.bg-med-gray {
  width: 100%;
  background-color: #adb5bd;
}

.bg-mid-gray.bg-faded,
.bg-med-gray.bg-faded {
  background-color: rgba(173, 181, 189, 0.4);
}

.bg-mid-gray p.callout,
.bg-mid-gray blockquote.callout,
.bg-med-gray p.callout,
.bg-med-gray blockquote.callout {
  background-color: transparent;
}

.bg-mid-gray h1,
.bg-mid-gray .h1,
.bg-mid-gray h2,
.bg-mid-gray .h2,
.bg-mid-gray h3,
.bg-mid-gray .h3,
.bg-mid-gray h4,
.bg-mid-gray .h4,
.bg-mid-gray h5,
.bg-mid-gray .h5,
.bg-mid-gray h6,
.bg-mid-gray .h6,
.bg-med-gray h1,
.bg-med-gray .h1,
.bg-med-gray h2,
.bg-med-gray .h2,
.bg-med-gray h3,
.bg-med-gray .h3,
.bg-med-gray h4,
.bg-med-gray .h4,
.bg-med-gray h5,
.bg-med-gray .h5,
.bg-med-gray h6,
.bg-med-gray .h6 {
  color: #0038a5;
}

.bg-mid-gray h1 > h1,
.bg-mid-gray h1 .h1,
.bg-mid-gray h1 h2,
.bg-mid-gray h1 .h2,
.bg-mid-gray h1 h3,
.bg-mid-gray h1 .h3,
.bg-mid-gray h1 h4,
.bg-mid-gray h1 .h4,
.bg-mid-gray h1 h5,
.bg-mid-gray h1 .h5,
.bg-mid-gray h1 h6,
.bg-mid-gray h1 .h6,
.bg-mid-gray .h1 > h1,
.bg-mid-gray .h1 .h1,
.bg-mid-gray .h1 h2,
.bg-mid-gray .h1 .h2,
.bg-mid-gray .h1 h3,
.bg-mid-gray .h1 .h3,
.bg-mid-gray .h1 h4,
.bg-mid-gray .h1 .h4,
.bg-mid-gray .h1 h5,
.bg-mid-gray .h1 .h5,
.bg-mid-gray .h1 h6,
.bg-mid-gray .h1 .h6,
.bg-mid-gray h2 > h1,
.bg-mid-gray h2 .h1,
.bg-mid-gray h2 h2,
.bg-mid-gray h2 .h2,
.bg-mid-gray h2 h3,
.bg-mid-gray h2 .h3,
.bg-mid-gray h2 h4,
.bg-mid-gray h2 .h4,
.bg-mid-gray h2 h5,
.bg-mid-gray h2 .h5,
.bg-mid-gray h2 h6,
.bg-mid-gray h2 .h6,
.bg-mid-gray .h2 > h1,
.bg-mid-gray .h2 .h1,
.bg-mid-gray .h2 h2,
.bg-mid-gray .h2 .h2,
.bg-mid-gray .h2 h3,
.bg-mid-gray .h2 .h3,
.bg-mid-gray .h2 h4,
.bg-mid-gray .h2 .h4,
.bg-mid-gray .h2 h5,
.bg-mid-gray .h2 .h5,
.bg-mid-gray .h2 h6,
.bg-mid-gray .h2 .h6,
.bg-mid-gray h3 > h1,
.bg-mid-gray h3 .h1,
.bg-mid-gray h3 h2,
.bg-mid-gray h3 .h2,
.bg-mid-gray h3 h3,
.bg-mid-gray h3 .h3,
.bg-mid-gray h3 h4,
.bg-mid-gray h3 .h4,
.bg-mid-gray h3 h5,
.bg-mid-gray h3 .h5,
.bg-mid-gray h3 h6,
.bg-mid-gray h3 .h6,
.bg-mid-gray .h3 > h1,
.bg-mid-gray .h3 .h1,
.bg-mid-gray .h3 h2,
.bg-mid-gray .h3 .h2,
.bg-mid-gray .h3 h3,
.bg-mid-gray .h3 .h3,
.bg-mid-gray .h3 h4,
.bg-mid-gray .h3 .h4,
.bg-mid-gray .h3 h5,
.bg-mid-gray .h3 .h5,
.bg-mid-gray .h3 h6,
.bg-mid-gray .h3 .h6,
.bg-mid-gray h4 > h1,
.bg-mid-gray h4 .h1,
.bg-mid-gray h4 h2,
.bg-mid-gray h4 .h2,
.bg-mid-gray h4 h3,
.bg-mid-gray h4 .h3,
.bg-mid-gray h4 h4,
.bg-mid-gray h4 .h4,
.bg-mid-gray h4 h5,
.bg-mid-gray h4 .h5,
.bg-mid-gray h4 h6,
.bg-mid-gray h4 .h6,
.bg-mid-gray .h4 > h1,
.bg-mid-gray .h4 .h1,
.bg-mid-gray .h4 h2,
.bg-mid-gray .h4 .h2,
.bg-mid-gray .h4 h3,
.bg-mid-gray .h4 .h3,
.bg-mid-gray .h4 h4,
.bg-mid-gray .h4 .h4,
.bg-mid-gray .h4 h5,
.bg-mid-gray .h4 .h5,
.bg-mid-gray .h4 h6,
.bg-mid-gray .h4 .h6,
.bg-mid-gray h5 > h1,
.bg-mid-gray h5 .h1,
.bg-mid-gray h5 h2,
.bg-mid-gray h5 .h2,
.bg-mid-gray h5 h3,
.bg-mid-gray h5 .h3,
.bg-mid-gray h5 h4,
.bg-mid-gray h5 .h4,
.bg-mid-gray h5 h5,
.bg-mid-gray h5 .h5,
.bg-mid-gray h5 h6,
.bg-mid-gray h5 .h6,
.bg-mid-gray .h5 > h1,
.bg-mid-gray .h5 .h1,
.bg-mid-gray .h5 h2,
.bg-mid-gray .h5 .h2,
.bg-mid-gray .h5 h3,
.bg-mid-gray .h5 .h3,
.bg-mid-gray .h5 h4,
.bg-mid-gray .h5 .h4,
.bg-mid-gray .h5 h5,
.bg-mid-gray .h5 .h5,
.bg-mid-gray .h5 h6,
.bg-mid-gray .h5 .h6,
.bg-mid-gray h6 > h1,
.bg-mid-gray h6 .h1,
.bg-mid-gray h6 h2,
.bg-mid-gray h6 .h2,
.bg-mid-gray h6 h3,
.bg-mid-gray h6 .h3,
.bg-mid-gray h6 h4,
.bg-mid-gray h6 .h4,
.bg-mid-gray h6 h5,
.bg-mid-gray h6 .h5,
.bg-mid-gray h6 h6,
.bg-mid-gray h6 .h6,
.bg-mid-gray .h6 > h1,
.bg-mid-gray .h6 .h1,
.bg-mid-gray .h6 h2,
.bg-mid-gray .h6 .h2,
.bg-mid-gray .h6 h3,
.bg-mid-gray .h6 .h3,
.bg-mid-gray .h6 h4,
.bg-mid-gray .h6 .h4,
.bg-mid-gray .h6 h5,
.bg-mid-gray .h6 .h5,
.bg-mid-gray .h6 h6,
.bg-mid-gray .h6 .h6,
.bg-med-gray h1 > h1,
.bg-med-gray h1 .h1,
.bg-med-gray h1 h2,
.bg-med-gray h1 .h2,
.bg-med-gray h1 h3,
.bg-med-gray h1 .h3,
.bg-med-gray h1 h4,
.bg-med-gray h1 .h4,
.bg-med-gray h1 h5,
.bg-med-gray h1 .h5,
.bg-med-gray h1 h6,
.bg-med-gray h1 .h6,
.bg-med-gray .h1 > h1,
.bg-med-gray .h1 .h1,
.bg-med-gray .h1 h2,
.bg-med-gray .h1 .h2,
.bg-med-gray .h1 h3,
.bg-med-gray .h1 .h3,
.bg-med-gray .h1 h4,
.bg-med-gray .h1 .h4,
.bg-med-gray .h1 h5,
.bg-med-gray .h1 .h5,
.bg-med-gray .h1 h6,
.bg-med-gray .h1 .h6,
.bg-med-gray h2 > h1,
.bg-med-gray h2 .h1,
.bg-med-gray h2 h2,
.bg-med-gray h2 .h2,
.bg-med-gray h2 h3,
.bg-med-gray h2 .h3,
.bg-med-gray h2 h4,
.bg-med-gray h2 .h4,
.bg-med-gray h2 h5,
.bg-med-gray h2 .h5,
.bg-med-gray h2 h6,
.bg-med-gray h2 .h6,
.bg-med-gray .h2 > h1,
.bg-med-gray .h2 .h1,
.bg-med-gray .h2 h2,
.bg-med-gray .h2 .h2,
.bg-med-gray .h2 h3,
.bg-med-gray .h2 .h3,
.bg-med-gray .h2 h4,
.bg-med-gray .h2 .h4,
.bg-med-gray .h2 h5,
.bg-med-gray .h2 .h5,
.bg-med-gray .h2 h6,
.bg-med-gray .h2 .h6,
.bg-med-gray h3 > h1,
.bg-med-gray h3 .h1,
.bg-med-gray h3 h2,
.bg-med-gray h3 .h2,
.bg-med-gray h3 h3,
.bg-med-gray h3 .h3,
.bg-med-gray h3 h4,
.bg-med-gray h3 .h4,
.bg-med-gray h3 h5,
.bg-med-gray h3 .h5,
.bg-med-gray h3 h6,
.bg-med-gray h3 .h6,
.bg-med-gray .h3 > h1,
.bg-med-gray .h3 .h1,
.bg-med-gray .h3 h2,
.bg-med-gray .h3 .h2,
.bg-med-gray .h3 h3,
.bg-med-gray .h3 .h3,
.bg-med-gray .h3 h4,
.bg-med-gray .h3 .h4,
.bg-med-gray .h3 h5,
.bg-med-gray .h3 .h5,
.bg-med-gray .h3 h6,
.bg-med-gray .h3 .h6,
.bg-med-gray h4 > h1,
.bg-med-gray h4 .h1,
.bg-med-gray h4 h2,
.bg-med-gray h4 .h2,
.bg-med-gray h4 h3,
.bg-med-gray h4 .h3,
.bg-med-gray h4 h4,
.bg-med-gray h4 .h4,
.bg-med-gray h4 h5,
.bg-med-gray h4 .h5,
.bg-med-gray h4 h6,
.bg-med-gray h4 .h6,
.bg-med-gray .h4 > h1,
.bg-med-gray .h4 .h1,
.bg-med-gray .h4 h2,
.bg-med-gray .h4 .h2,
.bg-med-gray .h4 h3,
.bg-med-gray .h4 .h3,
.bg-med-gray .h4 h4,
.bg-med-gray .h4 .h4,
.bg-med-gray .h4 h5,
.bg-med-gray .h4 .h5,
.bg-med-gray .h4 h6,
.bg-med-gray .h4 .h6,
.bg-med-gray h5 > h1,
.bg-med-gray h5 .h1,
.bg-med-gray h5 h2,
.bg-med-gray h5 .h2,
.bg-med-gray h5 h3,
.bg-med-gray h5 .h3,
.bg-med-gray h5 h4,
.bg-med-gray h5 .h4,
.bg-med-gray h5 h5,
.bg-med-gray h5 .h5,
.bg-med-gray h5 h6,
.bg-med-gray h5 .h6,
.bg-med-gray .h5 > h1,
.bg-med-gray .h5 .h1,
.bg-med-gray .h5 h2,
.bg-med-gray .h5 .h2,
.bg-med-gray .h5 h3,
.bg-med-gray .h5 .h3,
.bg-med-gray .h5 h4,
.bg-med-gray .h5 .h4,
.bg-med-gray .h5 h5,
.bg-med-gray .h5 .h5,
.bg-med-gray .h5 h6,
.bg-med-gray .h5 .h6,
.bg-med-gray h6 > h1,
.bg-med-gray h6 .h1,
.bg-med-gray h6 h2,
.bg-med-gray h6 .h2,
.bg-med-gray h6 h3,
.bg-med-gray h6 .h3,
.bg-med-gray h6 h4,
.bg-med-gray h6 .h4,
.bg-med-gray h6 h5,
.bg-med-gray h6 .h5,
.bg-med-gray h6 h6,
.bg-med-gray h6 .h6,
.bg-med-gray .h6 > h1,
.bg-med-gray .h6 .h1,
.bg-med-gray .h6 h2,
.bg-med-gray .h6 .h2,
.bg-med-gray .h6 h3,
.bg-med-gray .h6 .h3,
.bg-med-gray .h6 h4,
.bg-med-gray .h6 .h4,
.bg-med-gray .h6 h5,
.bg-med-gray .h6 .h5,
.bg-med-gray .h6 h6,
.bg-med-gray .h6 .h6 {
  color: #0038a5;
}

.bg-l-gray {
  width: 100%;
  background-color: #e9ecef;
}

.bg-l-gray.bg-faded {
  background-color: rgba(233, 236, 239, 0.4);
}

.bg-l-gray p.callout,
.bg-l-gray blockquote.callout {
  background-color: transparent;
}

.bg-l-gray h1,
.bg-l-gray .h1,
.bg-l-gray h2,
.bg-l-gray .h2,
.bg-l-gray h3,
.bg-l-gray .h3,
.bg-l-gray h4,
.bg-l-gray .h4,
.bg-l-gray h5,
.bg-l-gray .h5,
.bg-l-gray h6,
.bg-l-gray .h6 {
  color: #0038a5;
}

.bg-l-gray h1 > h1,
.bg-l-gray h1 .h1,
.bg-l-gray h1 h2,
.bg-l-gray h1 .h2,
.bg-l-gray h1 h3,
.bg-l-gray h1 .h3,
.bg-l-gray h1 h4,
.bg-l-gray h1 .h4,
.bg-l-gray h1 h5,
.bg-l-gray h1 .h5,
.bg-l-gray h1 h6,
.bg-l-gray h1 .h6,
.bg-l-gray .h1 > h1,
.bg-l-gray .h1 .h1,
.bg-l-gray .h1 h2,
.bg-l-gray .h1 .h2,
.bg-l-gray .h1 h3,
.bg-l-gray .h1 .h3,
.bg-l-gray .h1 h4,
.bg-l-gray .h1 .h4,
.bg-l-gray .h1 h5,
.bg-l-gray .h1 .h5,
.bg-l-gray .h1 h6,
.bg-l-gray .h1 .h6,
.bg-l-gray h2 > h1,
.bg-l-gray h2 .h1,
.bg-l-gray h2 h2,
.bg-l-gray h2 .h2,
.bg-l-gray h2 h3,
.bg-l-gray h2 .h3,
.bg-l-gray h2 h4,
.bg-l-gray h2 .h4,
.bg-l-gray h2 h5,
.bg-l-gray h2 .h5,
.bg-l-gray h2 h6,
.bg-l-gray h2 .h6,
.bg-l-gray .h2 > h1,
.bg-l-gray .h2 .h1,
.bg-l-gray .h2 h2,
.bg-l-gray .h2 .h2,
.bg-l-gray .h2 h3,
.bg-l-gray .h2 .h3,
.bg-l-gray .h2 h4,
.bg-l-gray .h2 .h4,
.bg-l-gray .h2 h5,
.bg-l-gray .h2 .h5,
.bg-l-gray .h2 h6,
.bg-l-gray .h2 .h6,
.bg-l-gray h3 > h1,
.bg-l-gray h3 .h1,
.bg-l-gray h3 h2,
.bg-l-gray h3 .h2,
.bg-l-gray h3 h3,
.bg-l-gray h3 .h3,
.bg-l-gray h3 h4,
.bg-l-gray h3 .h4,
.bg-l-gray h3 h5,
.bg-l-gray h3 .h5,
.bg-l-gray h3 h6,
.bg-l-gray h3 .h6,
.bg-l-gray .h3 > h1,
.bg-l-gray .h3 .h1,
.bg-l-gray .h3 h2,
.bg-l-gray .h3 .h2,
.bg-l-gray .h3 h3,
.bg-l-gray .h3 .h3,
.bg-l-gray .h3 h4,
.bg-l-gray .h3 .h4,
.bg-l-gray .h3 h5,
.bg-l-gray .h3 .h5,
.bg-l-gray .h3 h6,
.bg-l-gray .h3 .h6,
.bg-l-gray h4 > h1,
.bg-l-gray h4 .h1,
.bg-l-gray h4 h2,
.bg-l-gray h4 .h2,
.bg-l-gray h4 h3,
.bg-l-gray h4 .h3,
.bg-l-gray h4 h4,
.bg-l-gray h4 .h4,
.bg-l-gray h4 h5,
.bg-l-gray h4 .h5,
.bg-l-gray h4 h6,
.bg-l-gray h4 .h6,
.bg-l-gray .h4 > h1,
.bg-l-gray .h4 .h1,
.bg-l-gray .h4 h2,
.bg-l-gray .h4 .h2,
.bg-l-gray .h4 h3,
.bg-l-gray .h4 .h3,
.bg-l-gray .h4 h4,
.bg-l-gray .h4 .h4,
.bg-l-gray .h4 h5,
.bg-l-gray .h4 .h5,
.bg-l-gray .h4 h6,
.bg-l-gray .h4 .h6,
.bg-l-gray h5 > h1,
.bg-l-gray h5 .h1,
.bg-l-gray h5 h2,
.bg-l-gray h5 .h2,
.bg-l-gray h5 h3,
.bg-l-gray h5 .h3,
.bg-l-gray h5 h4,
.bg-l-gray h5 .h4,
.bg-l-gray h5 h5,
.bg-l-gray h5 .h5,
.bg-l-gray h5 h6,
.bg-l-gray h5 .h6,
.bg-l-gray .h5 > h1,
.bg-l-gray .h5 .h1,
.bg-l-gray .h5 h2,
.bg-l-gray .h5 .h2,
.bg-l-gray .h5 h3,
.bg-l-gray .h5 .h3,
.bg-l-gray .h5 h4,
.bg-l-gray .h5 .h4,
.bg-l-gray .h5 h5,
.bg-l-gray .h5 .h5,
.bg-l-gray .h5 h6,
.bg-l-gray .h5 .h6,
.bg-l-gray h6 > h1,
.bg-l-gray h6 .h1,
.bg-l-gray h6 h2,
.bg-l-gray h6 .h2,
.bg-l-gray h6 h3,
.bg-l-gray h6 .h3,
.bg-l-gray h6 h4,
.bg-l-gray h6 .h4,
.bg-l-gray h6 h5,
.bg-l-gray h6 .h5,
.bg-l-gray h6 h6,
.bg-l-gray h6 .h6,
.bg-l-gray .h6 > h1,
.bg-l-gray .h6 .h1,
.bg-l-gray .h6 h2,
.bg-l-gray .h6 .h2,
.bg-l-gray .h6 h3,
.bg-l-gray .h6 .h3,
.bg-l-gray .h6 h4,
.bg-l-gray .h6 .h4,
.bg-l-gray .h6 h5,
.bg-l-gray .h6 .h5,
.bg-l-gray .h6 h6,
.bg-l-gray .h6 .h6 {
  color: #0038a5;
}

.bg-orange {
  width: 100%;
  color: white;
  background-color: #ec8a22;
}

.bg-orange.bg-faded {
  background-color: rgba(236, 138, 34, 0.7);
}

.bg-orange a:focus,
.bg-orange a:hover {
  color: #0038a5;
}

.bg-orange h1,
.bg-orange .h1,
.bg-orange h2,
.bg-orange .h2,
.bg-orange h3,
.bg-orange .h3,
.bg-orange h4,
.bg-orange .h4,
.bg-orange h5,
.bg-orange .h5,
.bg-orange h6,
.bg-orange .h6 {
  color: white;
}

.bg-orange h1 > h1,
.bg-orange h1 .h1,
.bg-orange h1 h2,
.bg-orange h1 .h2,
.bg-orange h1 h3,
.bg-orange h1 .h3,
.bg-orange h1 h4,
.bg-orange h1 .h4,
.bg-orange h1 h5,
.bg-orange h1 .h5,
.bg-orange h1 h6,
.bg-orange h1 .h6,
.bg-orange .h1 > h1,
.bg-orange .h1 .h1,
.bg-orange .h1 h2,
.bg-orange .h1 .h2,
.bg-orange .h1 h3,
.bg-orange .h1 .h3,
.bg-orange .h1 h4,
.bg-orange .h1 .h4,
.bg-orange .h1 h5,
.bg-orange .h1 .h5,
.bg-orange .h1 h6,
.bg-orange .h1 .h6,
.bg-orange h2 > h1,
.bg-orange h2 .h1,
.bg-orange h2 h2,
.bg-orange h2 .h2,
.bg-orange h2 h3,
.bg-orange h2 .h3,
.bg-orange h2 h4,
.bg-orange h2 .h4,
.bg-orange h2 h5,
.bg-orange h2 .h5,
.bg-orange h2 h6,
.bg-orange h2 .h6,
.bg-orange .h2 > h1,
.bg-orange .h2 .h1,
.bg-orange .h2 h2,
.bg-orange .h2 .h2,
.bg-orange .h2 h3,
.bg-orange .h2 .h3,
.bg-orange .h2 h4,
.bg-orange .h2 .h4,
.bg-orange .h2 h5,
.bg-orange .h2 .h5,
.bg-orange .h2 h6,
.bg-orange .h2 .h6,
.bg-orange h3 > h1,
.bg-orange h3 .h1,
.bg-orange h3 h2,
.bg-orange h3 .h2,
.bg-orange h3 h3,
.bg-orange h3 .h3,
.bg-orange h3 h4,
.bg-orange h3 .h4,
.bg-orange h3 h5,
.bg-orange h3 .h5,
.bg-orange h3 h6,
.bg-orange h3 .h6,
.bg-orange .h3 > h1,
.bg-orange .h3 .h1,
.bg-orange .h3 h2,
.bg-orange .h3 .h2,
.bg-orange .h3 h3,
.bg-orange .h3 .h3,
.bg-orange .h3 h4,
.bg-orange .h3 .h4,
.bg-orange .h3 h5,
.bg-orange .h3 .h5,
.bg-orange .h3 h6,
.bg-orange .h3 .h6,
.bg-orange h4 > h1,
.bg-orange h4 .h1,
.bg-orange h4 h2,
.bg-orange h4 .h2,
.bg-orange h4 h3,
.bg-orange h4 .h3,
.bg-orange h4 h4,
.bg-orange h4 .h4,
.bg-orange h4 h5,
.bg-orange h4 .h5,
.bg-orange h4 h6,
.bg-orange h4 .h6,
.bg-orange .h4 > h1,
.bg-orange .h4 .h1,
.bg-orange .h4 h2,
.bg-orange .h4 .h2,
.bg-orange .h4 h3,
.bg-orange .h4 .h3,
.bg-orange .h4 h4,
.bg-orange .h4 .h4,
.bg-orange .h4 h5,
.bg-orange .h4 .h5,
.bg-orange .h4 h6,
.bg-orange .h4 .h6,
.bg-orange h5 > h1,
.bg-orange h5 .h1,
.bg-orange h5 h2,
.bg-orange h5 .h2,
.bg-orange h5 h3,
.bg-orange h5 .h3,
.bg-orange h5 h4,
.bg-orange h5 .h4,
.bg-orange h5 h5,
.bg-orange h5 .h5,
.bg-orange h5 h6,
.bg-orange h5 .h6,
.bg-orange .h5 > h1,
.bg-orange .h5 .h1,
.bg-orange .h5 h2,
.bg-orange .h5 .h2,
.bg-orange .h5 h3,
.bg-orange .h5 .h3,
.bg-orange .h5 h4,
.bg-orange .h5 .h4,
.bg-orange .h5 h5,
.bg-orange .h5 .h5,
.bg-orange .h5 h6,
.bg-orange .h5 .h6,
.bg-orange h6 > h1,
.bg-orange h6 .h1,
.bg-orange h6 h2,
.bg-orange h6 .h2,
.bg-orange h6 h3,
.bg-orange h6 .h3,
.bg-orange h6 h4,
.bg-orange h6 .h4,
.bg-orange h6 h5,
.bg-orange h6 .h5,
.bg-orange h6 h6,
.bg-orange h6 .h6,
.bg-orange .h6 > h1,
.bg-orange .h6 .h1,
.bg-orange .h6 h2,
.bg-orange .h6 .h2,
.bg-orange .h6 h3,
.bg-orange .h6 .h3,
.bg-orange .h6 h4,
.bg-orange .h6 .h4,
.bg-orange .h6 h5,
.bg-orange .h6 .h5,
.bg-orange .h6 h6,
.bg-orange .h6 .h6 {
  color: white;
}

.bg-yellow {
  width: 100%;
  color: #2556a3;
  background-color: #fbea65;
}

.bg-yellow.bg-faded {
  background-color: rgba(251, 234, 101, 0.75);
}

.bg-yellow a:focus,
.bg-yellow a:hover {
  color: #759f29;
}

.bg-yellow h1,
.bg-yellow .h1,
.bg-yellow h2,
.bg-yellow .h2,
.bg-yellow h3,
.bg-yellow .h3,
.bg-yellow h4,
.bg-yellow .h4,
.bg-yellow h5,
.bg-yellow .h5,
.bg-yellow h6,
.bg-yellow .h6 {
  color: #0038a5;
}

.bg-yellow h1 > h1,
.bg-yellow h1 .h1,
.bg-yellow h1 h2,
.bg-yellow h1 .h2,
.bg-yellow h1 h3,
.bg-yellow h1 .h3,
.bg-yellow h1 h4,
.bg-yellow h1 .h4,
.bg-yellow h1 h5,
.bg-yellow h1 .h5,
.bg-yellow h1 h6,
.bg-yellow h1 .h6,
.bg-yellow .h1 > h1,
.bg-yellow .h1 .h1,
.bg-yellow .h1 h2,
.bg-yellow .h1 .h2,
.bg-yellow .h1 h3,
.bg-yellow .h1 .h3,
.bg-yellow .h1 h4,
.bg-yellow .h1 .h4,
.bg-yellow .h1 h5,
.bg-yellow .h1 .h5,
.bg-yellow .h1 h6,
.bg-yellow .h1 .h6,
.bg-yellow h2 > h1,
.bg-yellow h2 .h1,
.bg-yellow h2 h2,
.bg-yellow h2 .h2,
.bg-yellow h2 h3,
.bg-yellow h2 .h3,
.bg-yellow h2 h4,
.bg-yellow h2 .h4,
.bg-yellow h2 h5,
.bg-yellow h2 .h5,
.bg-yellow h2 h6,
.bg-yellow h2 .h6,
.bg-yellow .h2 > h1,
.bg-yellow .h2 .h1,
.bg-yellow .h2 h2,
.bg-yellow .h2 .h2,
.bg-yellow .h2 h3,
.bg-yellow .h2 .h3,
.bg-yellow .h2 h4,
.bg-yellow .h2 .h4,
.bg-yellow .h2 h5,
.bg-yellow .h2 .h5,
.bg-yellow .h2 h6,
.bg-yellow .h2 .h6,
.bg-yellow h3 > h1,
.bg-yellow h3 .h1,
.bg-yellow h3 h2,
.bg-yellow h3 .h2,
.bg-yellow h3 h3,
.bg-yellow h3 .h3,
.bg-yellow h3 h4,
.bg-yellow h3 .h4,
.bg-yellow h3 h5,
.bg-yellow h3 .h5,
.bg-yellow h3 h6,
.bg-yellow h3 .h6,
.bg-yellow .h3 > h1,
.bg-yellow .h3 .h1,
.bg-yellow .h3 h2,
.bg-yellow .h3 .h2,
.bg-yellow .h3 h3,
.bg-yellow .h3 .h3,
.bg-yellow .h3 h4,
.bg-yellow .h3 .h4,
.bg-yellow .h3 h5,
.bg-yellow .h3 .h5,
.bg-yellow .h3 h6,
.bg-yellow .h3 .h6,
.bg-yellow h4 > h1,
.bg-yellow h4 .h1,
.bg-yellow h4 h2,
.bg-yellow h4 .h2,
.bg-yellow h4 h3,
.bg-yellow h4 .h3,
.bg-yellow h4 h4,
.bg-yellow h4 .h4,
.bg-yellow h4 h5,
.bg-yellow h4 .h5,
.bg-yellow h4 h6,
.bg-yellow h4 .h6,
.bg-yellow .h4 > h1,
.bg-yellow .h4 .h1,
.bg-yellow .h4 h2,
.bg-yellow .h4 .h2,
.bg-yellow .h4 h3,
.bg-yellow .h4 .h3,
.bg-yellow .h4 h4,
.bg-yellow .h4 .h4,
.bg-yellow .h4 h5,
.bg-yellow .h4 .h5,
.bg-yellow .h4 h6,
.bg-yellow .h4 .h6,
.bg-yellow h5 > h1,
.bg-yellow h5 .h1,
.bg-yellow h5 h2,
.bg-yellow h5 .h2,
.bg-yellow h5 h3,
.bg-yellow h5 .h3,
.bg-yellow h5 h4,
.bg-yellow h5 .h4,
.bg-yellow h5 h5,
.bg-yellow h5 .h5,
.bg-yellow h5 h6,
.bg-yellow h5 .h6,
.bg-yellow .h5 > h1,
.bg-yellow .h5 .h1,
.bg-yellow .h5 h2,
.bg-yellow .h5 .h2,
.bg-yellow .h5 h3,
.bg-yellow .h5 .h3,
.bg-yellow .h5 h4,
.bg-yellow .h5 .h4,
.bg-yellow .h5 h5,
.bg-yellow .h5 .h5,
.bg-yellow .h5 h6,
.bg-yellow .h5 .h6,
.bg-yellow h6 > h1,
.bg-yellow h6 .h1,
.bg-yellow h6 h2,
.bg-yellow h6 .h2,
.bg-yellow h6 h3,
.bg-yellow h6 .h3,
.bg-yellow h6 h4,
.bg-yellow h6 .h4,
.bg-yellow h6 h5,
.bg-yellow h6 .h5,
.bg-yellow h6 h6,
.bg-yellow h6 .h6,
.bg-yellow .h6 > h1,
.bg-yellow .h6 .h1,
.bg-yellow .h6 h2,
.bg-yellow .h6 .h2,
.bg-yellow .h6 h3,
.bg-yellow .h6 .h3,
.bg-yellow .h6 h4,
.bg-yellow .h6 .h4,
.bg-yellow .h6 h5,
.bg-yellow .h6 .h5,
.bg-yellow .h6 h6,
.bg-yellow .h6 .h6 {
  color: #0038a5;
}

.bg-white {
  width: 100%;
  color: #222;
  background-color: white;
}

.bg-white.bg-faded {
  background-color: rgba(255, 255, 255, 0.75);
}

.bg-white > h1,
.bg-white > h2,
.bg-white > h3,
.bg-white > h4,
.bg-white > h5,
.bg-white > h6 {
  color: #0038a5;
}

.color-yellow,
.background-blue .h1,
.bg-blue .h1,
.background-blue .h5,
.bg-blue .h5 {
  color: #fbea65;
}

.color-orange {
  color: #ec8a22;
}

.color-twitter-blue,
.background-blue .h6,
.bg-blue .h6 {
  color: #0d91e2;
}

.color-category {
  color: #ccb60f;
}

.color-blue {
  color: #0038a5;
}

.color-white {
  color: white;
}

.bold {
  font-weight: bold;
}

.spacing-xxs {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.spacing-top-xxs {
  padding-top: 1rem;
}

.spacing-bottom-xxs {
  padding-bottom: 1rem;
}

.spacing-xs {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.spacing-top-xs {
  padding-top: 2rem;
}

.spacing-bottom-xs {
  padding-bottom: 2rem;
}

.space-bottom-xs {
  margin-bottom: 2rem;
}

.space-xs {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.spacing-top-sm {
  padding-top: 4rem;
}

.spacing-sm {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.space-sm {
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.spacing-bottom-sm {
  padding-bottom: 4rem;
}

.spacing-med,
.spacing-md {
  padding-top: 6rem;
  padding-bottom: 6rem;
}

.space-med,
.space-md {
  margin-top: 6rem;
  margin-bottom: 6rem;
}

.spacing-bottom-med,
.spacing-bottom-md {
  padding-bottom: 6rem;
}

.spacing-lg {
  padding-top: 8rem;
  padding-bottom: 8rem;
}

.spacing-bottom-lg {
  padding-bottom: 8rem;
}

.spacing-xl {
  padding-top: 10rem;
  padding-bottom: 10rem;
}

.spacing-top-xl {
  padding-top: 10rem;
}

.spacing-bottom-xl {
  padding-bottom: 10rem;
}

.padding-sides-sm {
  padding-right: 0.5rem;
  padding-left: 0.5rem;
}

@media (min-width: 768px) {
  .padding-sides-sm {
    padding-right: 2rem;
    padding-left: 2rem;
  }
}

.padding-right-sm {
  padding-right: inherit;
}

@media (min-width: 768px) {
  .padding-right-sm {
    padding-right: 2rem;
  }
}

.padding-right-md {
  padding-right: inherit;
}

@media (min-width: 768px) {
  .padding-right-md {
    padding-right: 4rem;
  }
}

.padding-sides-md {
  padding-right: 0.5rem;
  padding-left: 0.5rem;
}

@media (min-width: 768px) {
  .padding-sides-md {
    padding-right: 2rem;
    padding-left: 2rem;
  }
}

@media (min-width: 992px) {
  .padding-sides-md {
    padding-right: 4rem;
    padding-left: 4rem;
  }
}

@media (min-width: 768px) {
  .medium-align-right {
    text-align: right;
  }
}

.height-90 {
  height: 90vh;
}

.separator-center::after {
  margin: 0.5rem auto 0.5rem;
}

.stripes-dark-tile:before {
  position: absolute;
  z-index: 1;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 80px;
  content: "";
  opacity: 0.5;
  background: -webkit-gradient(linear, 0 0, 0 100%, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.8))) 0 0 no-repeat;
}

.stripes-dark-tile:after {
  position: absolute;
  z-index: 0;
  bottom: 0;
  width: 100%;
  height: 80px;
  content: "";
  opacity: 0.4;
  background: url("/themes/custom/limestone/images/stripes-dark-tile.svg");
}

a.to-top {
  position: fixed;
  z-index: 101;
  right: 1.5em;
  bottom: 0.5em;
  display: none;
  -webkit-transform: rotate(-180deg);
  -o-transform: rotate(-180deg);
  transform: rotate(-180deg);
  text-decoration: none;
  color: #0038a5;
  font-size: 20px;
}

a.to-top:hover,
a.to-top:focus {
  text-decoration: none;
  color: #fbea65;
}

a.to-top:hover::after,
a.to-top:focus::after {
  background: #0038a5;
}

a.to-top span {
  position: relative;
  top: 8px;
  right: 8px;
}

a.to-top::after {
  position: absolute;
  z-index: -1;
  top: 1px;
  right: 1px;
  width: 35px;
  height: 35px;
  content: "";
  border-radius: 50%;
  background: #fbea65;
}

.half-circle-top,
.half-circle-bottom {
  width: 25px;
  height: 10px;
  background-color: #495057;
}

.half-circle-top {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.field-label-inline .field-label,
.field-label-inline .field-items,
.field-label-inline .field-item {
  display: inline;
}

.field-label {
  font-family: futura-pt-bold, sans-serif;
  font-size: 1.1rem;
  font-weight: 700;
}

.field-inline {
  display: inline;
}

.field-inline .field-items {
  display: inline;
}

.field-inline .field-items .field-item {
  display: inline;
}

.field-inline .field-items .field-item p {
  display: inline;
}

.field-larger p {
  font-size: 120%;
}

.p-relative {
  position: relative;
}

.d-none {
  display: none !important;
}

.float-none {
  float: none;
}

.dec-none {
  text-decoration: none !important;
}
