.font-size-lg {
  font-size: 1.375rem;
}

.font-size-sm {
  font-size: 0.9625rem;
}

.button,
.field-item-button a,
.field-item-hollow-button a {
  padding: 1rem;
  text-decoration: none !important;
  letter-spacing: -0.5px;
  color: white;
  background-color: #0038a5;
  font-size: 1.3rem;
  font-weight: 800;
  line-height: 4rem;
}

.button:hover,
.field-item-button a:hover,
.field-item-hollow-button a:hover,
.button:focus,
.field-item-button a:focus,
.field-item-hollow-button a:focus {
  color: white !important;
  background: smart-scale(#0038a5, 10%, 10%) !important;
}

.button [class^="icon-"],
.field-item-button a [class^="icon-"],
.field-item-hollow-button a [class^="icon-"],
.button [class*=" icon-"],
.field-item-button a [class*=" icon-"],
.field-item-hollow-button a [class*=" icon-"] {
  position: relative;
  bottom: -0.2rem;
  padding-right: 5px;
  font-size: 1.5rem;
  line-height: 1rem;
}

.button.modal-button::after,
.field-item-button a.modal-button::after,
.field-item-hollow-button a.modal-button::after {
  position: relative;
  bottom: 0.2rem;
  padding-left: 5px;
  content: "\e91d" !important;
  text-transform: none;
  font-family: "icomoon" !important;
  font-size: 0.7rem;
  font-weight: normal;
  font-style: normal;
  font-variant: normal;
  line-height: 1rem;
  line-height: 1;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  speak: none;
}

.button.larger [class^="icon-"],
.field-item-button a.larger [class^="icon-"],
.field-item-hollow-button a.larger [class^="icon-"],
.button.larger [class*=" icon-"],
.field-item-button a.larger [class*=" icon-"],
.field-item-hollow-button a.larger [class*=" icon-"] {
  bottom: -0.2rem;
  padding-right: 1rem;
  font-size: 1.6rem;
}

.button.hollow:focus,
.field-item-button a.hollow:focus,
.field-item-hollow-button a:focus,
.button.hollow:hover,
.field-item-button a.hollow:hover,
.field-item-hollow-button a:hover {
  color: white;
  background-color: #0038a5;
}

.button.red,
.field-item-button a.red,
.field-item-hollow-button a.red,
.button.alert,
.field-item-button a.alert,
.field-item-hollow-button a.alert {
  background-color: #a84026;
}

.button.red:hover,
.field-item-button a.red:hover,
.field-item-hollow-button a.red:hover,
.button.red:focus,
.field-item-button a.red:focus,
.field-item-hollow-button a.red:focus,
.button.alert:hover,
.field-item-button a.alert:hover,
.field-item-hollow-button a.alert:hover,
.button.alert:focus,
.field-item-button a.alert:focus,
.field-item-hollow-button a.alert:focus {
  color: white !important;
  background: smart-scale(#a84026, 20%, 20%) !important;
}

.button.warning,
.field-item-button a.warning,
.field-item-hollow-button a.warning {
  background-color: #ffef86;
}

.button.warning:hover,
.field-item-button a.warning:hover,
.field-item-hollow-button a.warning:hover,
.button.warning:focus,
.field-item-button a.warning:focus,
.field-item-hollow-button a.warning:focus {
  color: white !important;
  background: smart-scale(#ffef86, 20%, 20%) !important;
}

.button.yellow,
.field-item-button a.yellow,
.field-item-hollow-button a.yellow {
  color: #0038a5 !important;
  background-color: #fbea65;
}

.button.yellow:hover,
.field-item-button a.yellow:hover,
.field-item-hollow-button a.yellow:hover,
.button.yellow:focus,
.field-item-button a.yellow:focus,
.field-item-hollow-button a.yellow:focus {
  color: #0038a5 !important;
  background: smart-scale(#fbea65, 20%, 20%) !important;
}

.button.green,
.field-item-button a.green,
.field-item-hollow-button a.green,
.button.success,
.field-item-button a.success,
.field-item-hollow-button a.success {
  background-color: #759f29;
}

.button.green:hover,
.field-item-button a.green:hover,
.field-item-hollow-button a.green:hover,
.button.green:focus,
.field-item-button a.green:focus,
.field-item-hollow-button a.green:focus,
.button.success:hover,
.field-item-button a.success:hover,
.field-item-hollow-button a.success:hover,
.button.success:focus,
.field-item-button a.success:focus,
.field-item-hollow-button a.success:focus {
  color: white !important;
  background: smart-scale(#759f29, 20%, 20%) !important;
}

.button.teal,
.field-item-button a.teal,
.field-item-hollow-button a.teal {
  background-color: #007390;
}

.button.teal:hover,
.field-item-button a.teal:hover,
.field-item-hollow-button a.teal:hover,
.button.teal:focus,
.field-item-button a.teal:focus,
.field-item-hollow-button a.teal:focus {
  color: white !important;
  background: smart-scale(#007390, 20%, 20%) !important;
}

.button.twitter-blue,
.field-item-button a.twitter-blue,
.field-item-hollow-button a.twitter-blue {
  background-color: #0d91e2;
}

.button.twitter-blue:hover,
.field-item-button a.twitter-blue:hover,
.field-item-hollow-button a.twitter-blue:hover,
.button.twitter-blue:focus,
.field-item-button a.twitter-blue:focus,
.field-item-hollow-button a.twitter-blue:focus {
  color: white !important;
  background: smart-scale(#0d91e2, 20%, 20%) !important;
}

.button.purple,
.field-item-button a.purple,
.field-item-hollow-button a.purple {
  background-color: #5c4973;
}

.button.purple:hover,
.field-item-button a.purple:hover,
.field-item-hollow-button a.purple:hover,
.button.purple:focus,
.field-item-button a.purple:focus,
.field-item-hollow-button a.purple:focus {
  color: white !important;
  background: smart-scale(#5c4973, 20%, 20%) !important;
}

.button.orange,
.field-item-button a.orange,
.field-item-hollow-button a.orange {
  background-color: #ec8a22;
}

.button.orange:hover,
.field-item-button a.orange:hover,
.field-item-hollow-button a.orange:hover,
.button.orange:focus,
.field-item-button a.orange:focus,
.field-item-hollow-button a.orange:focus {
  color: white !important;
  background: smart-scale(#ec8a22, 20%, 20%) !important;
}

.button.category,
.field-item-button a.category,
.field-item-hollow-button a.category {
  color: white;
  background-color: #ccb60f;
  font-family: futura-pt, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.button.category:hover,
.field-item-button a.category:hover,
.field-item-hollow-button a.category:hover,
.button.category:focus,
.field-item-button a.category:focus,
.field-item-hollow-button a.category:focus {
  color: white !important;
  background: smart-scale(#ccb60f, 20%, 20%) !important;
}

.button .icon-clone,
.field-item-button a .icon-clone,
.field-item-hollow-button a .icon-clone {
  font-size: 14px;
}

.button.clear:hover,
.field-item-button a.clear:hover,
.field-item-hollow-button a.clear:hover,
.button.clear:focus,
.field-item-button a.clear:focus,
.field-item-hollow-button a.clear:focus {
  background: transparent !important;
}

.fibonacci-aside .button,
.fibonacci-aside .field-item-button a,
.field-item-button .fibonacci-aside a,
.fibonacci-aside .field-item-hollow-button a,
.field-item-hollow-button .fibonacci-aside a {
  max-width: 300px;
}

.bg-blue a.lc-btn::before {
  background-color: #1550c3;
}

a.lc-btn,
.lc-btn a:first-child {
  position: relative;
  z-index: 1;
  display: inline-block;
  margin-right: 50px;
  margin-bottom: 20px;
  padding: 8px 17px !important;
  text-decoration: none !important;
  text-transform: uppercase;
  color: #0038a5 !important;
  border-bottom: none;
  background-color: #f1f1f1;
  background-image: none;
  font-family: futura-pt-bold, sans-serif;
  font-size: 1.1rem;
  font-weight: 600;
  line-height: 1.9rem;
  /*
  &::before {
    content: "";
    width: 44px;
    right: -44px;
    top: 0;
    bottom: 0;
    position: absolute;
    background-color: $limestone-blue;
    border-left: 5px solid rgba(0, 0, 0, 0.3);
  }

  &::after {
    content: "\f078" !important;
    position: absolute !important;
    color: white;
    transform: rotate(-90deg) !important;
    font-size: 16px !important;
    top: 30% !important;
    left: auto !important;
    right: -31px !important;
    margin-top: 0 !important;
    font-family: "icomoon" !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
*/
}

a.lc-btn:hover,
a.lc-btn:focus,
.lc-btn a:first-child:hover,
.lc-btn a:first-child:focus {
  color: #ccb60f !important;
}

a.lc-btn:hover::before,
a.lc-btn:focus::before,
.lc-btn a:first-child:hover::before,
.lc-btn a:first-child:focus::before {
  background-color: #1358de;
}

a.lc-btn:hover::after,
a.lc-btn:focus::after,
.lc-btn a:first-child:hover::after,
.lc-btn a:first-child:focus::after {
  right: -33px;
  -webkit-transition: right 100ms ease-in-out;
  -o-transition: right 100ms ease-in-out;
  transition: right 100ms ease-in-out;
}

a.lc-btn.larger,
.lc-btn a:first-child.larger {
  padding: 14px 20px;
  font-size: 20px;
}

a.lc-btn.larger::after,
.lc-btn a:first-child.larger::after {
  font-size: 20px;
}

a.lc-btn.larger.back,
.lc-btn a:first-child.larger.back {
  margin-right: 0;
  margin-left: 50px;
}

a.lc-btn.blue,
.lc-btn a:first-child.blue {
  color: white !important;
  background-color: rgba(0, 56, 165, 0.9);
}

a.lc-btn.blue:focus,
a.lc-btn.blue:hover,
.lc-btn a:first-child.blue:focus,
.lc-btn a:first-child.blue:hover {
  color: #fff5a9 !important;
  background-color: #0038a5;
}

a.lc-btn.blue:focus::before,
a.lc-btn.blue:hover::before,
.lc-btn a:first-child.blue:focus::before,
.lc-btn a:first-child.blue:hover::before {
  background-color: #0038a5;
}

a.lc-btn.back,
.lc-btn a:first-child.back {
  margin-right: 0;
  margin-left: 50px;
}

a.lc-btn.back::before,
.lc-btn a:first-child.back::before {
  position: absolute;
  top: 0;
  right: auto;
  bottom: 0;
  left: -44px;
  width: 44px;
  height: auto;
  content: "";
  border-right: 5px solid rgba(0, 0, 0, 0.3);
  border-left: none;
  background: none;
  background-color: #0038a5;
}

a.lc-btn.back::after,
.lc-btn a:first-child.back::after {
  position: absolute;
  top: 8px !important;
  right: auto !important;
  bottom: auto;
  left: -35px !important;
  width: 17px;
  height: 25px;
  -webkit-transition: right 100ms ease-in-out;
  -o-transition: right 100ms ease-in-out;
  transition: right 100ms ease-in-out;
  -webkit-transform: rotate(90deg) !important;
  -o-transform: rotate(90deg) !important;
  transform: rotate(90deg) !important;
  -webkit-background-size: 444px 444px;
  background-size: 444px;
}

.button-icon {
  display: inline-block;
  margin-bottom: 1rem;
  padding-top: 20px;
  padding-right: 25px;
  padding-bottom: 20px;
  padding-left: 0;
  -webkit-transition: 100ms;
  -o-transition: 100ms;
  transition: 100ms;
  text-decoration: none;
  color: #2556a3 !important;
  border: thin solid rgba(112, 112, 112, 0.3);
  border-radius: 5px;
  background-color: #f8f9fa;
  -webkit-box-shadow: 3px 3px 0 -1px rgba(0, 0, 0, 0.15);
  box-shadow: 3px 3px 0 -1px rgba(0, 0, 0, 0.15);
  font-family: futura-pt-bold, sans-serif;
  font-size: 25px;
  font-weight: bold;
  line-height: 25px;
}

.button-icon:hover,
.button-icon:focus {
  -webkit-transition: 100ms;
  -o-transition: 100ms;
  transition: 100ms;
  color: #0038a5 !important;
  background-color: #adb5bd;
  -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.15);
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.15);
}

.button-icon:hover [class^="icon-"],
.button-icon:hover [class*=" icon-"],
.button-icon:focus [class^="icon-"],
.button-icon:focus [class*=" icon-"] {
  -webkit-transition: 100ms;
  -o-transition: 100ms;
  transition: 100ms;
  color: #0038a5;
}

.button-icon [class^="icon-"],
.button-icon [class*=" icon-"],
.button-icon [class^="menu-icon-"],
.button-icon [class*=" menu-icon-"] {
  position: relative;
  bottom: -4px;
  left: 0;
  padding: 19px;
  color: #2556a3;
  border-radius: 6px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  font-size: 28px;
  line-height: 1rem;
}

a.cta-button,
a.cta-btn {
  display: inline-block;
  margin: 0 0 0.5em 0;
  padding: 0.5em 2em;
  text-decoration: none;
  color: white;
  background: #0038a5;
  font-family: futura-pt-bold, sans-serif;
  font-size: 2rem;
  font-weight: bold;
}

a.cta-button:hover,
a.cta-button:focus,
a.cta-btn:hover,
a.cta-btn:focus {
  color: white !important;
  background: smart-scale(#0038a5, 15%, 15%) !important;
}

a.cta-button.secondary,
a.cta-btn.secondary {
  background: #767676;
}

a.cta-button.secondary:hover,
a.cta-button.secondary:focus,
a.cta-btn.secondary:hover,
a.cta-btn.secondary:focus {
  color: white !important;
  background: smart-scale(#767676, 10%, 10%) !important;
}

a.cta-button.success,
a.cta-btn.success {
  background: #759f29;
}

a.cta-button.success:hover,
a.cta-button.success:focus,
a.cta-btn.success:hover,
a.cta-btn.success:focus {
  color: white !important;
  background: smart-scale(#759f29, 10%, 10%) !important;
}

a.cta-button.warning,
a.cta-btn.warning {
  background: #ffef86;
}

a.cta-button.warning:hover,
a.cta-button.warning:focus,
a.cta-btn.warning:hover,
a.cta-btn.warning:focus {
  color: white !important;
  background: smart-scale(#ffef86, 10%, 10%) !important;
}

a.cta-button.alert,
a.cta-btn.alert {
  background: #cc4b37;
}

a.cta-button.alert:hover,
a.cta-button.alert:focus,
a.cta-btn.alert:hover,
a.cta-btn.alert:focus {
  color: white !important;
  background: smart-scale(#cc4b37, 10%, 10%) !important;
}

a.cta-button.orange,
a.cta-btn.orange {
  background: #ec8a22;
}

a.cta-button.orange:hover,
a.cta-button.orange:focus,
a.cta-btn.orange:hover,
a.cta-btn.orange:focus {
  color: white !important;
  background: smart-scale(#ec8a22, 10%, 10%) !important;
}

a.cta-button.twitter-blue,
a.cta-btn.twitter-blue {
  background: #0d91e2;
}

a.cta-button.twitter-blue:hover,
a.cta-button.twitter-blue:focus,
a.cta-btn.twitter-blue:hover,
a.cta-btn.twitter-blue:focus {
  color: white !important;
  background: smart-scale(#0d91e2, 10%, 10%) !important;
}

a.cta-button.teal,
a.cta-btn.teal {
  background: #007390;
}

a.cta-button.teal:hover,
a.cta-button.teal:focus,
a.cta-btn.teal:hover,
a.cta-btn.teal:focus {
  color: white !important;
  background: smart-scale(#007390, 10%, 10%) !important;
}

a.cta-button.warning,
a.cta-btn.warning {
  color: #2556a3;
}

a.cta-button.warning:hover,
a.cta-button.warning:focus,
a.cta-btn.warning:hover,
a.cta-btn.warning:focus {
  color: #2556a3 !important;
}

.btn-group,
.btn-group-vertical {
  position: relative;
  display: inline-block;
  vertical-align: middle;
}

.btn-group {
  position: relative;
  display: inline-block;
  vertical-align: middle;
}

@media (min-width: 992px) {
  .btn-group {
    display: block;
  }
}

.btn-group.btn-group-justified {
  display: table;
  width: 100%;
  max-width: 1200px;
  margin: 10px auto 0 auto;
  table-layout: fixed;
  border-collapse: separate;
}

.btn-group.btn-group-justified .btn-wrapper {
  display: table-row;
  float: none;
  width: 100%;
  margin: 10px 0 0 2%;
  margin-top: 20px;
  border-spacing: 20px;
  vertical-align: top;
}

@media (min-width: 768px) {
  .btn-group.btn-group-justified .btn-wrapper {
    display: table-cell;
  }
}

.btn-group.btn-group-justified .btn-wrapper:first-child {
  margin-top: 0;
}

@media (min-width: 768px) {
  .btn-group.btn-group-justified .btn-wrapper:first-child {
    margin-top: 20px;
  }
}

.btn-group.btn-group-justified .btn-wrapper .btn-container {
  display: table;
  width: 100%;
}

.btn-group.btn-group-justified .btn-wrapper .btn-container a {
  display: table-cell;
  width: 100%;
  height: 85px !important;
  padding: 0 10px !important;
  vertical-align: middle;
  white-space: normal;
  font-size: 18px;
  font-weight: bold;
  line-height: normal;
}

.btn-group.mobileStack {
  max-width: 400px;
  margin-top: 0;
  margin-right: auto;
  margin-left: auto;
  padding-top: 0;
}

.btn-group.mobileStack .btn-wrapper {
  display: table-cell;
  border-spacing: 1px;
}

.btn-group.mobileStack .btn-wrapper .btn-container a {
  height: 75px !important;
}

@media (min-width: 768px) {
  .btn-group.mobileStack {
    max-width: 950px;
    padding-top: 0;
  }
  .btn-group.mobileStack .btn-wrapper {
    border-spacing: 15px;
  }
}

@media (min-width: 1200px) {
  .btn-group.mobileStack {
    max-width: 950px;
    padding-top: 2rem;
  }
  .btn-group.mobileStack .btn-wrapper {
    border-spacing: 15px;
  }
}

.field-paragraph--bp-modal-button-text {
  display: inherit;
}
